[2012-02-11 19:40] slafs opened #1 "unicode issue?"
Hi there! I think there's an issue with TextFields and unicode data.

Lets say i have a model

[code]

and make a model instance:

[code]

I get an error

[code]

Just starting with SQLAlchemy so don't have a clue what's the deal with this for now. Test it with postgres and sqlite

[2012-02-13 07:08] axil opened #2 "typo?"
[code]

[2012-02-13 07:57] axil opened #3 "typo in docs"
[code]

[2012-02-13 08:21] #2 closed, assigned to nobody

[2012-02-13 08:21] #3 closed, assigned to nobody

[2012-02-13 08:40] #1 closed, assigned to Deepwalker

[2012-10-05 15:57] erikcw opened #8 "AttributeError: 'ForeignKey' object has no attribute 'related' (using string for model reference)"
aldjemy throws a traceback when any ForeignKey field references its related model using a string instead of the Class directly.

This is an important and useful feature for handling circular imports, and should be supported.

For example:

This works:

[code]

This does not:

[code]

Here is the traceback:

[code]

[2013-02-18 15:32] ildus opened #10 "Поддержка multiple databases от django"
Здравствуйте. В orm.py есть такой код:

[code]

Не лучше будет ли его поменять на сигнал django.db.backends.signals.connection_created?

Это связано с тем что я хочу добавить поддержку алиасов для get_engine и get_session, но в обработчике request_started нельзя узнать текущее соединение.
Выглядеть будет как то так:

[code]

[2013-04-29 19:00] erikcw opened #12 "Can't cache/pickle aldjemy objects"
When attempting to cache an aldjemy object, Django/tastypie throws the following traceback:

[code]

Django 1.5.1
Tastypie 0.9.14
Aldjemy 0.3.8

[2013-04-29 23:03] #8 closed, assigned to Deepwalker

[2013-05-14 20:04] erikcw opened #13 "Django 1.5 get_user_model() breaks aldjemy."
If you use Django 1.5's `get_user_model` function instead of importing the User class, aldjemy won't add the `sa` attribute to any models in that module (or modules that are setup after it).

For example:

[code]

Results in:

[code]

instead of:

[code]

This of course breaks Django 1.5's custom User model implementation.  This effects you even if you aren't using a custom model, since many 3rd p

[2013-09-08 13:56] yuriiz opened #14 "Can't disable backref generation"
Currently it is not possible to disable backref generation for SQLAlchemy model. It makes impossible to inherit model with two ForeignKey to same model.

Example:
[code]

It is not possible to make this models work in any way and will always result in:
InvalidRequestError: One or more mappers failed to initialize - can't proceed with initialization of other mappers.  Original exception was: Error

[2014-06-05 22:04] erikcw opened #15 "Exception when used with SQLAlchemy 0.9.4"
I'm trying to use aldjemy with SQLAlchemy 0.9.4.  When I try a simple query, I get this traceback:

[code]

Same exception regardless of the type of query I attempt.  What is needed to make aldjemy compatible with the current release of SQLAlchemy?

[2014-06-11 21:09] #15 closed, assigned to nobody

[2014-08-05 20:20] #10 closed, assigned to nobody

[2015-05-19 21:35] blag commented on #14
@yuriiz: Can you test this patch please?

[2015-05-26 05:44] yuriiz commented on #14
Works for me. Thanks.

[2015-05-29 19:11] #14 closed

[2015-06-09 04:46] zjjott opened #27 "DjangoPool raise Type Error:__init__() got multiple values for keyword argument 'alias'"
[code]
https://github.com/Deepwalker/aldjemy/blob/master/aldjemy%2Fcore.py#L86

code:
[code]

you write in __init__ accept `alias` argument,and you send two alias argument in recreate func ,one is self._creator,other one is  `alias=self.alias`

[2015-06-09 07:20] zjjott opened #29 "raise AttributeError like #15"
'_ConnectionRecord' object has no attribute 'starttime'

some traceback maybe useful
[code]
InterfaceError  is the deeper exception

[2015-06-17 11:10] AdamSerafini opened #30 "DurationField not supported."
Django 1.8 added a new DurationField. I am about to create a pull request with the new data type in the DATA_TYPES dictionary.

[2015-06-23 20:36] #30 closed

[2015-06-25 06:34] ojomio commented on #15
The issue re-occurs with SQLAlchemy 1.0.5 and aldjemy 0.4.1

[2015-06-30 01:15] erikcw commented on #15
@ojomio Can you post your full traceback?

[2015-06-30 08:08] ojomio commented on #15
@erikcw , err, I'm afraid the most relevant part of it is

'_ConnectionRecord' object has no attribute 'starttime'
[code]

[2015-06-30 17:13] erikcw opened #32 "Connection closed exception"
[code]

Django 1.7.8
aldjemy 0.4.1
sqlalchemy 0.9.9 (also tested 1.0.0 and 1.0.6).
psycopg2 2.6.1
Postgres 9.4

[2015-07-02 06:58] ojomio commented on #15
@erikcw Actually, it seems with this match on sqlalchemy=1.0.6 it doesn't work at all...

 It raises ```Interface Error: Connection already closed```, which in SqlAlchemy 0.9.{4,8} was expressed differently with absent attribute. I mean, the root is a _closed connection_ after all. Why this can ever happen?!

With SA 0.9.{4,8} and Aldjemy=0.4.0 I manage to make like successful 4-5 requests to Djan

[2015-07-02 21:08] erikcw commented on #15
@ojomio Take a look at #32 -- I ran into the same issue.  Should probably document your findings on that ticket.

[2015-07-02 21:10] erikcw commented on #32
I've got a workaround for my test suite for the time being:

[code]

This gets my tests running again, but obviously this is just a bandaid.  This should be fixed at the aldjemy level.

[2015-07-03 07:45] ojomio commented on #32
Well, after "monte-carlo" debugging what I found was:
Reference: `sqlalchemy.orm.__init__.create_session()`

Then I used session like this:

[code]

When ```autocommit``` is disabled, it seems to work.

if we use session from ```create_session()```, which is what aldjemy does, somehow dbapi (psycopg2 in my case) connection gets closed after successfull retrieval.
I mean, in my application **every

[2015-07-03 13:50] ojomio commented on #32
Unfortunately, I was wrong about having bypassed it with `autocommit=False`. This error still occurs unpredictably

[2015-10-14 05:18] eldamir opened #35 "ValueError: Couldn't parse datetime string"
All I did was add `aldjemy` to my installed apps and then try `MyModel.query().all()`

[code]

[2015-10-14 07:00] Deepwalker commented on #35
sqlite?

[2015-10-14 07:02] eldamir commented on #35
yup. For development purposes

[2015-10-14 07:12] Deepwalker commented on #35
try 0.4.2

[2015-10-14 07:13] Deepwalker commented on #35
BTW if you plan to deploy your application to use other database in production – use some database for development.

[2015-10-14 07:41] #35 closed

[2015-10-14 07:43] #29 closed

[2015-10-14 07:56] Deepwalker commented on #27
0.4.3

[2015-10-14 07:56] #27 closed

[2015-12-03 00:59] vadim-pavlov commented on #32
It happens because django closes all DatabaseWrapper instances at the end of the http request, leaving sqlalchemy Session with closed database connection for all subsequent requests:

django/db/__init__.py:
[code]

So far I've found two possible solutions to this problem:

1. Setup a similar signal handler to reset all sqlalchemy sessions at the end of the request:

[code]

2. Change  ```_Connecti

[2015-12-21 02:46] adambrenecki opened #36 "Breaks on Django 1.9"
Hi,

When using Aldjemy 0.4.3 with Django 1.9 I get the following error:

[code]

[2016-01-05 21:48] Deepwalker commented on #36
Can you check 0.5.0-rc1?

[2016-01-13 12:38] ygavenchuk commented on #36
Hi.
I have the same problem with:

aldjemy==0.4.3
Django==1.9
SQLAlchemy==1.0.11

[2016-01-13 17:58] Deepwalker commented on #36
Ok, so will release then. Its hard to keep this project alive, since I does not work with django for a long time.

[2016-01-14 23:27] Deepwalker commented on #36
releases 0.5.0 to pypi.

[2016-01-14 23:27] #36 closed

[2016-05-05 06:48] rattrayalex opened #37 "Django 1.10 Deprecation Warning: `get_fields_with_model`"
[code]

[2016-05-05 06:49] rattrayalex opened #38 "Django 1.10 Deprecation Warning: `field.related`"
[code]

[2016-05-06 20:16] #37 closed

[2016-05-06 20:16] Deepwalker commented on #38
0.6.0

[2016-05-06 20:16] #38 closed

[2016-05-06 20:28] Deepwalker commented on #13
Cant reproduce it. If it matters for you, please, provide broken test for test_project/sample app.

[2016-05-06 20:28] #13 closed

[2016-05-07 15:58] rattrayalex commented on #38
Awesome, thanks for the quick resolution @Deepwalker!

[2016-05-19 17:24] erikcw commented on #32
So this problem had all but went away with the tweak to the TestCase I mentioned above.

However, after upgrading to Django 1.9.6 (from 1.7) and aldjemy 0.6, these errors started coming back -- and this time in production.

I implemented vadim-pavlov's `request_finished` hook and that seems to have cleaned things right up!

[2016-06-16 17:16] AmirMeirbekov commented on #32
I also implemented Vadim's first option with `request_finished` hook. However, I started receiving exceptions about dictionary changed size during iteration:

[code]

So, it appeared that `conn.sa_session.close_all()` to `conn.sa_session.close()` fixes this.

[2016-07-12 00:58] fearofcode opened #40 "Issue with mapping when using UUID fields"
I have a Django 1.9 model called `Property` (I know it clashes with the Python keyword `property`, but it doesn't effect the issue I'm having).

When I put `aldjemy` in Django's app list and tried to open up the Django shell, I got this stack trace:

[code]

`core` is our Django application name and `core_property` is the table of the model in question.

I believe this UUID field is causing the is

[2016-07-12 01:12] fearofcode commented on #40
Django 1.9, aldjemy 0.6.0, Python 3.5 in case that helps.

[2016-07-12 01:28] fearofcode commented on #40
I think I've fixed it. All I had to do was overwrite `ALDJEMY_DATA_TYPES`:

[code]

[2016-07-12 01:28] #40 closed

[2016-09-09 10:15] akheron commented on #32
I'm also having this issue in production. Django 1.9, Postgres 9.4, aldjemy 0.6. Workaround 1 by @vadim-pavlov (but using `conn.sa_session.close()` instead of `close_all()`) seems to work.

Would setting `CONN_MAX_AGE` in the database settings have any effect on this?

[2016-09-09 10:16] akheron commented on #32
I'm also puzzled about why this doesn't happen in development or tests.

[2016-09-09 13:12] AmirMeirbekov commented on #32
@akheron As far as I remember, I also had this problem in production. I added `django.core.signals` for closing connections upon request finished. Here is the code I have in the end of `url.py`:

`from django.core import signals as core_signals

def close_connection(**kwargs):
    for conn in connections.all():
        if hasattr(conn, 'sa_session'):
            conn.sa_session.close()

core_signa

[2016-11-08 09:41] bmuhia opened #42 "Mapper could not assemble any primary key columns for mapped table"
I have a model with one primary key (UUIDField) and I've also set 'unique_together' on four fields. The sqlalchemy mapper can't find the mapping, apparently. I'm using aldjemy v0.6.0.

[code]

[2016-11-08 10:04] bmuhia commented on #42
No worries, I found #40

[2016-11-08 10:04] #42 closed

[2016-11-16 13:02] scythargon commented on #32
@AmirMeirbekov buy why put in `urls.py`? o_O

[2016-11-19 23:33] AmirMeirbekov commented on #32
@scythargon the idea is to register your signals when Django web app starts. So, you can put it also in project `__init__.py` or in some app's `models.py`, anywhere, which is loaded on start

[2017-02-01 06:53] tackler opened #43 "Django TimeField gives 'datetime.time' object has no attribute 'microseconds' when querying its model's 'sa' attribute"
Steps to reproduce
1. Python 2.7.6, pip==9.0.1, Django==1.10.5, MySQL-python==1.2.5, aldjemy==0.6.0
1. Create a model with TimeField
1. Do necessary migrations
1. Create an object of the models using django's "objects.create()". You can give either a string or a datetime.time or datetime.datetime instance for the field.
1. Create a session using `aldjemy.core.get_engine()`
1. `session.query(<model

[2017-02-01 11:07] tackler commented on #43
This is possibly because Django converts the MySQLdb given datetime.timedelta to datetime.time which is then given to SQLA but it was expecting datetime.timedelta.

[2017-04-19 20:31] erikcw opened #45 "Error creating backref -- name exists on mapper"
Just upgraded from `0.6.0` to `0.7.0` (Django 1.10.7) and now I'm getting the following exception:

[code]

Here ie the relevant excerpt from my models.py:

[code]

Like I said, works fine in `0.6.0` as well as in the Django ORM.

[2017-06-29 08:47] ltalirz opened #49 "Please consider adding a license file"
Hi, I am in the process of adding a [recipe for aldjemy](https://github.com/conda-forge/staged-recipes/pull/3212) on conda forge and I have been asked by the conda forge maintainers to raise an issue here, asking whether it would be possible to add a license file and include it in the `MANIFEST.in`?

P.S. If you would like me to add your github handle to the list of maintainers of the conda recipe

[2017-06-29 08:49] Deepwalker commented on #49
If you can make PR with BSD license I will do it in one click ;)

[2017-08-21 13:10] maxnordlund opened #52 "Scoping SQ sessions to Django requests"
I'm not sure if this is the case already, but it would be good as it also would tie the SQ transaction to the request which is what seems logical to me at least.

That would also allow for logging of all SQL queries on errors with some work.

It seems like there's some support in SA for Scoped_sessions to integrate with other libraries, http://docs.sqlalchemy.org/en/rel_1_1/orm/session_basics.html

[2017-08-21 20:36] #49 closed

[2017-10-20 06:09] akheron commented on #32
FWIW, I still have this problem in production, this time with a new project. It only happens when running in uWSGI, and doesn't happen in `./manage.py runserver`.

The [workaround](https://github.com/Deepwalker/aldjemy/issues/32#issuecomment-245908542) by @AmirMeirbekov fixed it this time, too.

I had forgotten about the problem completely, and was surprised to find my own comment in this issue wh

[2017-11-27 16:37] Deepwalker commented on #32
Can anyone provide PR? Desirable with proper test. It will be amazing if someone can.

[2017-11-27 20:23] ryanhiebert opened #54 "UUID Primary keys"
By default, Django's models have an AutoField primary key, which is an integer. For some of my models, I have overwritten the default primary key and made it a UUIDField. I'd like to use aldjemy, but it doesn't support this case yet.

I don't know when I'll get to fixing it, though I do expect it will happen some time, but I wanted to bring it up in case there is some discussion needed to be had a

[2017-12-05 17:13] FalseProtagonist opened #57 "Metadata incorrect for nullable fields"
The metadata that this library produces for the Django tables has all columns as being nullable, regardless of their specification in their origin classes

It's quite easy fix, just change the generate_tables method to pull the f.null attribute off each element in model.get_fields()

And then pass it into the Column constructor for sqlalchemy with keyword "nullable".

As for motivation, if someone

[2018-02-28 03:35] synic commented on #54
Put the following in your settings file:

[code]

[2018-02-28 05:04] Joel-hanson opened #58 "AttributeError: type object `MODEL NAME` has no attribute 'sa'"
Cant know what happened the project worked fine till Saturday(24-02-2018) then all the projects with sql alchemy gives me this error of saying `no attribute 'sa'`

code that i had used is
`
from user_profile.models import UserModel,UserSalary
from sqlalchemy.orm.session import sessionmaker
from sqlalchemy.orm import mapper, aliased
from sqlalchemy import and_,func ,cast,Date
from sqlalchemy.sql.ex

[2018-02-28 05:09] #58 closed

[2018-02-28 05:10] Joel-hanson commented on #58
sorry i found the issue i forgot to add it to installed apps of django

[2018-03-01 13:55] ryanhiebert commented on #54
Thanks, @synic, I'll have to try that out. I suspect that I'll want to make it a UUID specific type (for PostgreSQL in my case), but I appreciate the potential workaround using this setting.

[2018-05-23 20:51] warrenrentlytics commented on #54
Our workaround is:

[code]

[2018-06-22 18:14] paultiplady commented on #45
Also hitting this in `aldjemy-0.8.0`

My case is even simpler, just a `related_name`, without any proxy models:

[code]

Looks like simply specifying the `related_name` might be broken?

[2018-09-20 17:32] ryanhiebert commented on #54
This workaround does seem to be working. I finally got a chance to test it. Thank you.

[2018-09-20 17:32] #54 closed

[2018-10-11 17:39] ramses132 opened #61 "get_tables()"
not return JSON FIELDS in django == 2.0 :/ how I can do to add my json fields

[2018-10-29 21:03] ryanhiebert opened #63 "generate tables on custom metadata"
I'm loving aldjemy, and I came up with a new interesting use case. I'm using PostgreSQL foreign data wrappers to copy loads of data from one django instance to another. To do this transfer, I need to copy between tables in different schemas. I can write these queries using SQLAlchemy, so that's what I want to do.

To that end, I want to make a custom schema, and then run `aldjemy.core.prepare_mode

[2018-10-31 11:17] Deepwalker commented on #63
Why to not just use custom sqlalchemy schema?

[2018-10-31 12:03] ryanhiebert commented on #63
Perhaps I'm misunderstanding the question, but it sounds to me like you're asking why I don't want to manually build up a custom set of sqlalchemy tables. I don't want to do that for the same reasons that you wrote aldjemy in the first place: all the info needed for building it up is already in the django models (apart from the schema), and I don't want to repeat it.

I apologize if you were sugge

[2018-10-31 19:03] Deepwalker commented on #63
Maybe I misunderstand your proposition – you mean you will have separate django orm schema? If this will be useful for you, then I have not any objections.

[2018-10-31 20:57] ryanhiebert commented on #63
Sounds good, I'll open a PR so you can see what I mean in code.

[2018-11-01 11:09] stolpeo commented on #61
Try putting this into your Django configuration.

[code]

[2018-11-01 12:53] Deepwalker commented on #61
@ramses132 does it solve your issue?

[2018-11-01 17:14] ramses132 commented on #61
Yes thank u the problem is in retrieve u have to call it as json

El jue., 1 de nov. de 2018 7:53 AM, Mikhail Krivushin <
notifications@github.com> escribió:

[2018-11-02 17:32] #63 closed

[2018-11-07 22:45] ryanhiebert opened #65 "0.8 broken for me"
Using an editable install to a local repository, and git bisect, I've determined that the error is caused by the commit from #59. I don't have the solution worked out yet, but I wanted to inform about the issue I'm seeing, and what I've been able to determine about it so far. I'm not sure how many other people might be seeing this issue, I've only tested it on my own private codebase.

[code]

[2018-11-19 11:40] #65 closed

[2018-11-19 22:58] talolard opened #67 "Project Status"
Hi
This project looks super useful. Before we dive in, is anyone using this in production  ? Are their any limitations on the SQA side we should be aware of ?
Thanks

[2019-01-02 17:45] ADR-007 commented on #67
We use it in production but there are some workarounds like that:
[code]

[2019-01-02 17:50] ADR-007 opened #68 "JSONField supporting had broken in v0.9.0"
Hi!
I'm using `JSONField` from `django.contrib.postgres.fields` and everything was OK in aldjemy 0.8.0 but in 0.9.0 i see next error:
[code]

Where `trigger_data = JSONField()`

[2019-01-03 16:24] ADR-007 commented on #68
already fixed in next release

[2019-01-03 16:24] #68 closed

[2019-03-13 10:38] RomanNagornyi opened #69 "Support for virtual fields"
Hello

Thank you for the library. It is fantastic. Django ORM is trash

One question. Is it possible to support virtual fields from this model translation library https://github.com/zostera/django-modeltrans ? This library support: Translate Django model fields in a PostgreSQL JSONField

I have this model
[code]

Currently,  columns "msg" for the model isn't visible inside variable metadata.tables

[2019-03-19 23:10] holtgrewe opened #70 ""get_tables" and "get_meta" functions removed"
But they are still imported in the top level module and at least `get_tables()` is referred to in the README.

[2019-03-20 02:53] ryanhiebert commented on #70
What do you mean the "top level module"? The `__init__.py` doesn't import them, AFAICT. https://github.com/Deepwalker/aldjemy/blob/master/aldjemy/__init__.py

That said, you're right that `get_tables` still documented in the README. I did mention about that change when my PR removing it was removed, but I didn't catch that it was documented in the README at the time. I'm not sure what he would pre

[2019-03-20 07:08] holtgrewe commented on #70
@ryanhiebert Yes, you were right. It is still here but could just be removed https://github.com/Deepwalker/aldjemy/blob/4c2338b32c69e9aeec8af5b4496d3f325ce02a76/aldjemy/core.py#L15

It would be nice if the documentation had an example of how to get to this information.

[2019-05-20 12:38] anentropic opened #71 "Which Django versions does this support?"
Would be good to note on the README

[2019-07-27 00:44] geoffreylzf commented on #71
Can this support django 2.2.3?

[2019-07-27 02:52] ryanhiebert commented on #71
I'm using 2.2.3 in production. It works for me.

[2019-07-27 07:06] geoffreylzf commented on #71
I keep getting "has no attribute 'sa'" error
I already put aldjemy  as my last in the INSTALLED_APPS list

[2019-07-28 11:35] ryanhiebert commented on #71
Without knowing more about your setup, I'm not sure how to debug it. That attribute error seems most likely to happen by not putting `aldjemy` into `INSTALLED_APPS`, though I see that you have confirmed that. Are there any other models that do have the `sa` attribute as expected?

[2019-09-17 05:44] pradeepbn opened #73 "Configure custom sqlalchemy custom deserializer"
#74
I'm using postgres array of json elements. The default deserializer in sqlalchemy is expecting serialized JSON. However, the sqlalchemy core is already parsing it to the dict object and hence the default deserializer is failing. Hence, we need the ability to provide custom deserializer to bypass this.

In the get_engine() api, the custom decode function can passed in through the kwargs passed

[2019-10-24 09:15] #70 closed

[2019-10-25 13:52] cochiseruhulessin opened #76 "Mapper error when db_column == attname on a Model subclass"
[code]

This was on a model (`User`) where the parent link field to the parent model `Subject` was declared as an attribute `subject` and instantiated with the argument `db_column='subject'`. Source example will follow.

[2019-10-25 13:53] cochiseruhulessin commented on #71
Testing on 2.2.6, no errors yet.

[2019-10-30 12:36] Deepwalker commented on #76
Hey! Example should help.

[2020-01-10 19:30] Mogost commented on #71
It would be great to have exact classifiers here.
https://github.com/Deepwalker/aldjemy/blob/82e1cf59ec697115f11fc9331d6c0c0fc0de0318/setup.py#L24
List of classifiers is [here](https://pypi.org/classifiers/).

[2020-01-13 22:20] ryanhiebert opened #79 "Maintainers"
Hi @Deepwalker ! @Mogost and I are interested in helping maintain this package. What I'm thinking would be best, if you're amiable to the idea, would be to make a shared organization for the project. I've gone ahead and done that, and I've invited you to be a part of that organization. In return, I'm committing to shepherd the process to get things set up and smoothed out over at that new location

[2020-01-14 11:05] Deepwalker commented on #79
Let's create organisation.

[2020-01-14 12:48] ryanhiebert commented on #79
Awesome, I see you've accepted the invitation to become an owner there. If you transfer the repository over there, then we will be able to keep the issues, and anyone who has a link will automatically be redirected to the new location.

And can you also add me (ryanhiebert) as an owner over on PyPI, so that I can make releases and such?

[2020-01-23 17:28] ryanhiebert commented on #79
@Deepwalker , when you're ready, can you add me (ryanhiebert) as an owner on PyPI, and transfer this repository over to the `aldjemy` organization?

[2020-01-23 17:38] Deepwalker commented on #79
How to move it?

[2020-01-23 17:52] ryanhiebert commented on #79
Go into the danger zone in the settings. It may have had the org blocked as a destination because of the other repo I had set up there, that should be fixed now.

https://help.github.com/en/github/administering-a-repository/transferring-a-repository

[2020-01-24 19:43] ryanhiebert commented on #79
:confetti_ball:

[2020-01-24 19:43] #79 closed

[2020-01-24 22:09] ryanhiebert commented on #12
I'm not totally opposed to making the instances pickle-able, but I really don't care about it. If someone wants it, they'd need to propose a plan to work it in. I don't feel like it makes a whole lot of sense to worry about it.

[2020-01-24 22:09] #12 closed

[2020-01-24 22:10] #61 closed

[2020-02-18 16:58] thnee opened #81 "Support for custom Query classes via query_cls and query_class"
It would be nice with some built in support for this, to be able to better organize chunks of query parts.

It seems like it has to be specified on both the session, and on relations in models.
https://stackoverflow.com/a/15962062/399725

Flask-sqlalchemy has some nice inspiration too.
https://flask-sqlalchemy.palletsprojects.com/en/2.x/customizing/#query-class

Aldjemy could automate this by read

[2020-02-21 04:04] onosendi opened #82 "Support for postgresql fields"
table.py
----------
`
    DATA_TYPES = {
        ...
        'CITextField': varchar,
        'CIEmailField': varchar,
        'CICharField': varchar,
    }
`

[2020-03-26 05:43] ryanhiebert commented on #67
@ADR-007 : Would you like to make a pull request to fix the workarounds? Just help me understand them, and I'll be happy to merge!

[2020-03-26 05:43] #67 closed

[2020-03-26 12:50] ryanhiebert commented on #76
If anyone has an example of this, please post one, so that I have a test case that can be fixed.

[2020-03-26 12:50] #76 closed

[2020-03-26 12:55] ryanhiebert commented on #32
I haven't had this issue in my own use-cases, so I'm not confident in writing a test case. Would someone be willing to write up a test case and a PR? I'd love to get this merged into the project.

[2020-03-26 13:04] ryanhiebert commented on #81
I don't object, but I don't have a need or a particular use case. However, your suggested implementation won't work, as far as I can tell. The query class needs to be set on the SQLAlchemy database, not just the model. There would need to be some kind of global hook that could take that configuration for _all_ models. Probably something in an `AppConfig`. That would seem like a reasonable way to o

[2020-03-26 13:06] ryanhiebert commented on #43
Wow, that's quite interesting behavior. @tackler, do you have a suggestion on how we could address this, or is it best to leave it to user code? I tend to feel that making either Django or SQLAlchemy work differently than they were designed is unwise.

[2020-03-26 13:07] ryanhiebert commented on #82
Can you make it a PR?

[2020-03-26 13:09] ryanhiebert commented on #73
That sounds like a similar global-override case as with #81 , and I suspect that a similar solution would be appropriate: to have a hook at the AppConfig to allow customizing this global behavior.

[2020-03-26 13:13] ryanhiebert commented on #69
Hmmm. That's a really interesting use-case. I'm interested in us finding a solution, but I'm not terribly equipped to do that myself. It's pretty far outside of what I use this library for ATM. Would you be interested in working on this feature, with my input?

[2020-03-26 13:17] ryanhiebert commented on #57
I'm totally on board with matching to the best extent possible the appropriate translation of the Django models. Take them one at a time, and I'd love to see some pull requests for me to review!

[2020-03-26 13:19] ryanhiebert commented on #52
I'd be interested to know what other libraries that use SQLAlchemy as an ORM do for this. Django uses autocommit mode for requests, and my default is to follow suit, but if the general consensus for Flask-SQLAlchemy, etc, is to do this, I'd be willing to reconsider. I haven't thought through the edge-cases enough to have a strong opinion yet, but I'm willing to entertain pull requests and discussi

[2020-03-27 18:26] maxnordlund commented on #52
I guess following Django here makes the most sense. Flask-SQLAlchemy scopes database sessions to the current application context, which by default is tied to the request. This makes `Model.query` automatically use the current session.

I'm pretty sure they also start with a transaction, so that if you raise an exception in a handler all database modifications are rolled back.

[2020-03-27 18:33] ryanhiebert commented on #52
A useful bit of the Django documentation related to this: https://docs.djangoproject.com/en/3.0/topics/db/transactions/#tying-transactions-to-http-requests

[2020-03-28 06:56] maxnordlund commented on #52
Taken from the Flask-SQLAlchemy docs:

The only things you need to know compared to plain SQLAlchemy are:

1, SQLAlchemy gives you access to the following things:
  * all the functions and classes from sqlalchemy and sqlalchemy.orm
  * a preconfigured scoped session called session
  * the metadata
  * the engine
  * a SQLAlchemy.create_all() and SQLAlchemy.drop_all() methods to create and drop tab

[2020-04-02 15:47] #45 closed

[2020-04-02 15:47] #71 closed

[2020-05-05 16:53] ADR-007 commented on #67
@ryanhiebert , unfortunately, I am not on the project anymore, so I cannot test it...

But the problem was in the open connections which will not be closed automatically  without the hotfix)

[2020-05-14 13:44] ltalirz opened #90 "tests on conda-forge failing with django 2.2"
The tests for the [aldjemy conda-forge feedstock](https://github.com/conda-forge/aldjemy-feedstock) are currently failing with django 2.2, error message:

    django.db.utils.OperationalError: no such table: django_content_type

[link to build log](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=161813&view=logs&j=1bf226d3-0e2f-52d8-fa93-7d9e633347b3&t=ec8d466d-e3b4-5115-

[2020-05-14 13:51] ryanhiebert commented on #90
I'm using this project in my Django 3 application, so it does work on Django 3 by some definition, I guess. I certainly need it to be working on Django 3.

[2020-05-14 13:52] ltalirz commented on #90
Thanks a lot for the quick reply!
We're also using it together with django 2.2 without issues so far - it may be that the problem pointed out by the test is rather small (I'm not an expert).

A first step could be to simply add django versions 2.2 and 3 to the CI of this repo

[2020-05-14 14:12] ryanhiebert commented on #90
Fair enough. I need to get later versions of Python tested under as well. I'm working on a pull request for that. I'm no expert either, just doing my best to maintain this, so if there are failures on that PR, you might well be able to help me solve them.

[2020-05-14 23:47] matuqam commented on #76
Traceback (most recent call last):
  File "/private/tmp/pys/automap/automap.py", line 25, in <module>
    main()
  File "/private/tmp/pys/automap/automap.py", line 19, in main
    Base.prepare(engine, reflect=True)
  File "/private/tmp/pys/automap/venv/lib/python3.8/site-packages/sqlalchemy/ext/automap.py", line 848, in prepare
    map_config.map()
  File "/private/tmp/pys/automap/venv/lib/python3

[2020-05-15 01:57] ryanhiebert commented on #76
Thanks, although I'm not sure this really helps me much. Can you give me steps or a repository to reproduce the issue?

[2020-05-15 03:15] ryanhiebert commented on #90
With #91 merged, is this issue resolved? There's change to the released code, only the tests, is that sufficient?

[2020-05-15 08:04] ltalirz commented on #90
Yes, it looks like the breaking change (at least the one caught by the tests) was only in the django test infrastructure.
Thanks @ryanhiebert for the fix!

[2020-05-15 08:04] #90 closed

[2020-05-18 13:52] SnakeOilSalesman opened #92 "ArrayField of Postgres processed incorrectly"
I've found that ArrayField of Postgres is processed incorrectly, which actually does not allow to fetch Array Fields not via ORM, nor SQL Expression Language.
Currently existing tests does not cover this case as they are not fetching not object, not list of values from the table

Tested with:
Python==3.7.5
Django==2.2.5
djangorestframework==3.10.3
aldjemy==0.10.1
sqlalchemy==1.3.16
psycopg2==2.8.3

[2020-05-18 15:33] ryanhiebert commented on #92
A pull request would be great. In particular, I'll be looking for tests of the existing working array functionality, to make sure those don't break. Confirming that they already exist sufficiently is fine. I'm certain that I do have an ArrayField in my production work project that is working, so as long as I don't break that, I'm happy to clean up other issues.

It seems like you've got a reasonab

[2020-05-19 17:36] SnakeOilSalesman commented on #92
While preparing a branch for this PR I was running tests with **tox** and found few more issues.

1. It seems that latest python3 versions that is used by tox by default having sqlite3 versions incompatible with specified in tox.ini Django versions 2.0.9 and 2.1.3. I had a similar error as described here:
https://stackoverflow.com/questions/53637182/django-no-such-table-main-auth-user-old

Updatin

[2020-05-19 17:49] ryanhiebert commented on #92
1. I'm not sure how you hit that issue, unless you just had an old .tox directory somehow. The tox.ini config should be using the latest patch releases of Django.
2. If the change is related to this change, or uncovered by your new work, go ahead and make it the same pull request, and explain what happened and why your change uncovered it. If it already exists in the master branch, then I'd make i

[2020-05-19 19:05] SnakeOilSalesman commented on #92
Gosh, my bad. I've missed that update. Sorry about that.

it's in the master branch now. Looks like a separate case to me. I'll provide more info later.

[2020-05-29 10:07] MCFHTAGENTS opened #95 "Providing access to SQLAlchemy's create_engine creator parameter"
Hi there,
 i am using SQLAlchemy, Django and Aldjemy and would like to port some functionality across:

In my traditional application I call
` engine = create_engine("[db1 url]", echo=False, creator=source_connect_helper)`

where

[code]

This allows me to do cross database queries with sqlalchemy. How can I achieve the same thing with adjemy?

[2020-05-29 10:57] MCFHTAGENTS commented on #95
resolved this by using th e
`@event.listens_for(engine, 'connect')`

event

[2020-05-29 10:57] #95 closed

[2020-06-01 15:33] #81 closed

[2020-06-01 15:33] #82 closed

[2020-06-01 15:33] #43 closed

[2020-06-01 15:33] #73 closed

[2020-06-01 15:33] #69 closed

[2020-06-01 15:33] #57 closed

[2020-06-03 08:26] #52 closed

[2020-06-27 05:09] ajaykrishnan33 opened #96 "Is Aldjemy safe to use in production? Any known pitfalls? Is it compatible with the latest Django versions?"
Sorry to add this as an issue, but couldn't find much info about Aldjemy anywhere else, including StackOverflow.

[2020-06-27 10:19] Mogost commented on #96
I personally use in production. It works pretty stable. But I use aldjemy targeted when there is not enough django ORM capability.

[2020-07-02 23:00] Divyashivakumar10 opened #97 "Parser generator"
Hey is this project kind of like sql parser generator?
like it parses the sql query and return an expression and does the code generation from it

i saw the python syntax, in the readme, how do i execute this project? Do i execute the test.sh file?

[2020-07-03 00:02] ryanhiebert commented on #97
Not really. It converts Django models to SQLAlchemy models, so that you can build queries with SQLAlchemy instead of the Django ORM.

[2020-07-03 00:03] ryanhiebert commented on #97
You integrate this into a Django project, if you want to use its api. If you want to just run our test suite, you can run `tox`, which in turn runs the `test.sh` script.

[2020-07-03 00:06] ryanhiebert commented on #97
Let me know if you have further questions.

[2020-07-03 00:06] #97 closed

[2020-07-11 13:15] #96 closed

[2020-07-18 20:58] ryanhiebert commented on #92
bump

[2020-08-21 07:37] ticosax opened #99 "Are you fine with droping support for python2.7 ?"
If yes I can contribute.

[2020-08-28 13:47] ryanhiebert commented on #92
I believe this is now fixed in #101 .

[2020-08-28 13:47] #92 closed

[2020-08-28 14:36] ryanhiebert commented on #99
Since this question has been answered, I'm closing this issue. We can have any further discussion of this topic on #100.

[2020-08-28 14:36] #99 closed

[2020-09-11 06:44] alik472 opened #104 "Accessing db.session from Django app"
Hi, I am trying to query a subquery in Django, and in my Flask app I used to query like this:

`db.session.query(some_subquery)`

How can I access session instance or alternatively how can I do the same query from Model?

I have tried this:

`some_subquery.sa.query()`
and
`some_subquery.query()`

Both throwing an exception of attribute/method does not exist.

Please help.

[2020-09-11 07:13] alik472 commented on #104
After some googling I found this link.
[https://rodic.fr/blog/sqlalchemy-django/](url)

I have implemented the session instance this way, but I am not sure it is the best way:

`from sqlalchemy.orm import sessionmaker`
`from aldjemy.core import get_engine`

`def Session():
    engine = get_engine()
    _Session = sessionmaker(bind=engine)
    return _Session()`

`session = Session()`

`session.que

[2020-09-11 07:13] #104 closed

[2020-10-22 14:35] adamduren opened #105 "New Release"
According to PyPi there hasn't been a release since 2019-10-30 and there have been some commits since that address issues such as support for ArrayField.

Are there plans to release a new version? Currently I'm installing based on a github commit reference.

[2020-10-22 14:49] ryanhiebert commented on #105
over in #100 I was planning to make a release. I think it just fell off my radar, sorry about that. Would you prefer I release current master as 0.11, or go ahead and merge #100 (dropping support for some unsupported versions of Django and Python) and release 1.0?

[2020-10-22 15:44] ryanhiebert commented on #105
I'm thinking to go ahead and merge the breaking changes around dropping those versions and release 1.0 right away, unless you tell me you'd prefer otherwise.

[2020-10-23 18:02] ryanhiebert commented on #105
I'm finding myself quite busy today, I'm going to have to get to this next week. Sorry for the delay.

[2020-11-04 07:45] ticosax opened #106 "Jazzband"
Dear maintainers, have you considered moving this project under the jazzband organization ?

https://jazzband.co/

I could, then, cut a release and maintain the project for tasks I feel comfortable with, like make it work along new django releases as they are published.

[2020-11-04 21:07] ryanhiebert commented on #106
I have not, but could be willing to. I'm a part of Jazzband myself, though I am not active.

I know that it would require me to automate deployments, which is my intent here as well. Past that, the benefit would be access to more maintainers. I try to be open here. Are you willing to assist in maintenance on this project?

[2020-11-05 08:02] ticosax commented on #106
yes, I'm open for anything that would help you make new releases.
The advantage of jazzband, is that this organization provides code snippet and processes to simplify the maintenance. But keeping the project under aldjemy umbrella is also fine.

[2020-11-05 16:12] ryanhiebert commented on #106
I see that you're already a part of the organization, sorry, I missed who I was talking to, for some reason I thought it was from the other issue asking for a release.

[2020-11-05 18:47] ryanhiebert commented on #105
Release 1.0.0 is on PyPI. Sorry it took me so long.

[2020-11-05 18:47] #105 closed

[2020-11-05 18:49] ryanhiebert opened #107 "Use poetry"
I'd like to switch this project to use poetry, rather than setuptools.

[2020-11-05 18:50] ryanhiebert opened #108 "Automate deployment"
I have an API token for PyPI that will work for uploading. I just need to get it automated. I'd like it to upload automatically when a new git tag is created.

[2020-11-06 16:59] ticosax commented on #108
If you have some pointers for the documentation (according to your preference) I can do the heavy lifting for this one.

[2020-11-09 08:54] ticosax commented on #108
Are you fine with this ?
https://github.com/pypa/gh-action-pypi-publish

[2020-11-09 11:16] graingert opened #110 "Async Django and SQLAlchemy"
it would be great to have a demo in the docs using the new async sqlalchmy v2 with async django via the asyncpg backend

[2020-11-09 16:40] ryanhiebert commented on #110
That sounds really cool, but I honestly don't even know if it's possible yet. Does Django actually support async queries at this point? I wasn't aware of it.

[2020-11-09 16:53] ryanhiebert commented on #108
That looks like a pretty nice way to do it, yeah! We will need to pull things into a single workflow so that we can declare that this will happen after the linting and tests all pass. So lets get all of that working the way we want it, then we'll figure out adding the deployment. I'll be able to get that set up, I've already generated an api token for the purpose.

[2020-11-09 17:09] graingert commented on #110
@ryanhiebert the django ORM doesn't support async/await but the sqlalchemy 2.0 ORM will do

[2020-11-09 17:10] graingert commented on #110
actually it's already in 1.4: https://docs.sqlalchemy.org/en/14/orm/extensions/asyncio.html#sqlalchemy.ext.asyncio.create_async_engine

[2020-11-10 13:59] ticosax opened #112 "Add dependabot integration"
To make sure we stay up to date and detect potential regressions coming from our external dependencies early.

[2020-11-27 12:57] #107 closed

[2020-11-29 08:45] #112 closed

[2020-11-29 13:13] ryanhiebert commented on #110
Thanks for these links, it made for some good reading this morning. I'd love to see an example of this being used, it might help me integrate it into my day job, which would be good for helping me get into this library.

[2020-12-01 19:00] #108 closed

[2020-12-02 03:10] ryanhiebert commented on #110
I really like this idea. @graingert are you up for taking a shot at writing these docs? I'd love to know if aldjemy works with async django.

[2020-12-02 03:12] ryanhiebert commented on #106
It is my understanding that one of Jazzband's requirements is that it be given a maintainer role on the PyPI project. I am not able to do that, because I only have a maintainer role myself. @Deepwalker , would you be willing to give me an owner role on the PyPI package?

Thanks, @ticosax , for the work you're putting in to getting this repo working nicely. I appreciate it very much!

[2020-12-02 07:15] graingert commented on #110
I think it might require some modifications to aldjemy, eg use of asyncpg instead of reusing Django connections

[2020-12-02 09:17] Deepwalker commented on #106
Sure. Own it :)

[2020-12-02 16:52] ryanhiebert commented on #106
Thank you!

[2020-12-02 16:59] ryanhiebert commented on #110
That makes sense.

[2020-12-03 14:03] SaulTigh commented on #105
@ryanhiebert is there any known changelog for 1.0.0 ?
as for now changelog has been updated 2 years ago :(

[2020-12-03 14:48] ryanhiebert commented on #105
I haven't been maintaining a changelog, unfortunately. I didn't realize there was previously one. The closest thing we have at the moment is the commit history. https://github.com/aldjemy/aldjemy/commits/1.0.0 Most of the changes were housekeeping, but there were two changes that added or improved functionality: #80, #101.

There were no breaking changes in 1.0. We dropped support for a bunch of v

[2020-12-04 11:44] SaulTigh commented on #105
i have to note here that it would be super useful for end-users like me if at least major releases would have any form of a changelog. i would be super grateful for that.

thank you for your efforts :)

[2021-02-08 02:15] #106 closed

[2021-02-08 02:15] #110 closed

[2021-05-19 16:24] Mogost opened #159 "After upgrading to sqlalchemy 1.4.15 tests in my project are failing"
Tests are executed in a transaction. So it looks like there is some problem in the generated schema at the aldjemy level.

https://docs.sqlalchemy.org/en/14/orm/basic_relationships.html#many-to-many

I suspect a problem with many to many relationship in orm.py
Most likely we need to look at the back_populates parameter

[code]

[2021-05-19 16:41] ryanhiebert commented on #32
I'd really like to see this fixed, but this isn't how I'm currently using SQLAlchemy. Would anyone be willing to chat with me or video call to help me reproduce this issue? @erikcw @ojomio @vadim-pavlov @AmirMeirbekov @akheron @scythargon

[2021-05-19 18:45] ryanhiebert commented on #159
Copying the message with better formatting for this comment thread:

relationship `Group_permissions.group` will copy column `auth_group.id` to column `auth_group_permissions.group_id`, which conflicts with relationship(s): `Group.permissions` (copies `auth_group.id` to `auth_group_permissions.group_id`).

If this is not the intention, consider if these relationships should be linked with `back_po

[2021-05-19 19:25] ryanhiebert commented on #159
I *think* what's going on is that many-to-many through tables are creating duplicates over a particular relationship that isn't being specified. `Group_permissions` is a through table, linking `Group` and `Permission`. This happen through `Group.permissions` (which has a back-reference for `Permission.group_set`), but it *also* has individual foreign keys for `Group_permission.group` and `Group_pe

[2021-05-19 22:11] ryanhiebert commented on #159
I tried to update just the ManyToMany through table side with `overlaps`, but unfortunately that didn't fix the issue. Bummer. All the other options are more annoying in different ways. Here they are:

1. Update both of the ManyToMany relationship (the through table as well well as the "concrete" side of the ManyToMany relationship) with `overlaps`.
2. Make the relevant foreign keys of the through

[2021-05-19 22:24] ryanhiebert commented on #159
For anyone wanting to get right to the interesting part of the code, this is it, especially lines 90-92 which specify the relationship we make for the many-to-many field:

https://github.com/aldjemy/aldjemy/blob/c2abcb8ceb02fb7d8c3f9d2e133633b6ba6afa46/aldjemy/orm.py#L77-L105

[2021-05-19 23:39] ryanhiebert commented on #159
I'm working on solving this. I've asked for some guidance on the SQLAlchemy mailing list on how to best model many-to-many fields.

@Mogost : are you sure that this is causing test failures for you, though? I see these warnings at work, but they aren't causing test failures for me.

[2021-05-20 00:44] ryanhiebert commented on #159
Make Bayer on the SQLAlchemy mailing list seemed to think that it might be fairly acceptable to keep backward compatibility, so I'm inclined to do so if I can find a reasonable way to write the code, at least until someone finds the decision obtuse and confusing.

[2021-05-20 04:51] ryanhiebert commented on #159
@Mogost : are you raising warnings in your project or something? I've got a local branch that cleans up some warnings, but it's still got some more warnings that aren't cleaned up yet. I hopeful that the warnings you brought up are among them.

[2021-05-20 08:36] Mogost commented on #159
I tried #160, the errors are gone.

[2021-05-20 12:29] #159 closed

[2021-05-20 13:30] Mogost opened #162 "Aldjemy release contains unnecessary components like tests"
![image](https://user-images.githubusercontent.com/721963/118987052-94519f00-b988-11eb-99d2-3d3603e4f8b6.png)

[2021-05-20 15:10] ryanhiebert commented on #162
So, I actually don't mind having the tests ship along with the package. I don't want them to run, but it's not important to remove them to me. Strictly speaking, I wouldn't be opposed to removing them, but so far in Python I haven't been able to figure out how to accomplish some other goals while keeping the tests out of the directory. Particularly having tests co-located right alongside the relev

[2021-05-20 17:51] ryanhiebert commented on #162
Feel free to re-open this if you think it's worth your time to try to do this. I don't expect to be doing this myself.

[2021-05-20 17:51] #162 closed

[2021-05-20 18:52] luzfcb commented on #162
@ryanhiebert if you can create a new branch 1.0.x from 1.0.0 tag and:

1 - Add on setup.py:

[code]

   the `exclude` in `find_packages` will force not to include the excluded packages in the `wheel` package.

#### setup.py

[code]

2 - Change the MANIFEST.in to

[code]

Build the packages:

[code]

and release the 1.0.1 version. (only if you want)

[2021-05-20 20:54] ryanhiebert commented on #162
Thanks, @luzfcb , that's quite a write-up. Thank you for being willing to spell that out!

At this point I'm really wanting to stick with Poetry, rather than using setuptools. For unit tests, I'd like to be able to do relative imports, and have co-located names. We don't do that currently, but I find that to be a good pattern. I don't think that would be reasonable if we exclude the tests from the

[2021-05-20 21:10] luzfcb commented on #162
@ryanhiebert the main branch (that has poetry config) doesn't include the test* packages on the `sdist` and `wheel` packages. (I tested it manually),
But version 1.0.0 still doesn't include poetry config and it why I proposed the changes on `setup.py` and `MANIFEST.in`. I just wanted to make your life easier with as little change as possible.

that is, this change only applies to a possible new br

[2021-05-20 21:13] ryanhiebert commented on #162
I see. Is a 1.0.1 release important to you for some reason? Or is the 2.0 package good for what you're trying to do? I'd prefer to not create an additional 1.0.x release if we don't need to.

[2021-05-20 21:25] luzfcb commented on #162
I don't really need 1.0.1, however, I don't consider it a good practice to send unnecessary code as a test package.
The problem here is that the `test_*` module directory will be installed at the same directory level as the `aldjemy` module directory.
In the past, I've had hell with strange errors in my tests and it was annoying to discover that another django package sent a test package with the

[2021-05-20 21:26] ryanhiebert commented on #162
Cool. As long as the top-level directory issue is solved with 2.0, I'm happy.

[2021-05-21 12:50] ryanhiebert opened #166 "Handle field subclasses automatically"
In my work project, I have this setting:

[code]

`DefaultOneToOneField` is a custom subclass of a `OneToOneField`, that Aldjemy doesn't know about. The other two are types that Aldjemy now understands by default in 2.0.

In my work project, I'd be able to remove this setting entirely Aldjemy were able to recognize that it was a subclass of a `OneToOneField`, and handle it appropriately. I wonder

[2021-05-21 12:54] ryanhiebert opened #167 "Settings import conflict in aldjemy.table"
A bug report for 2.0 from @blueyed on #160:

`django.core.exceptions.ImproperlyConfigured` gets triggered via https://github.com/aldjemy/aldjemy/blob/aff2d2409fd824f499a5feacc7f2023e646f645f/aldjemy/table.py#L74.

This certainly strikes me as a bug to fix, as it seems reasonable that someone might want to override with `simple` or `varchar` in their settings, and probably already are. For `simple`

[2021-05-21 13:51] blueyed commented on #167
Thanks for looking into this!

Yeah, something along the following fixes it:
[code]

(Should use a lowercase name then maybe, and should have a regression test then likely)

[2021-05-21 14:08] ryanhiebert commented on #167
`generate_tables` can actually run many times, so I don't think we want to be re-updating `DATA_TYPES`, but that's very similar to what I came up with. It works because it's not accessing settings on module import, giving the settings time to settle first.

Are you willing to review #168? Want to be a part of the Aldjemy team?

[2021-05-21 14:20] ryanhiebert opened #169 "Add DateRangeField to default types"
From @blueyed on #160:

[2021-05-21 15:17] ryanhiebert commented on #166
Notably, the current mapping from string to these field translation callables isn't going to be sufficient to implement this. At a minimum, the keys will need to be able to be the actual fields or a path to them. My inclination is to move toward implementing the default types handling without modifying the setting at all. We might consider deprecating the setting entirely over the long-run if that

[2021-05-21 15:18] #167 closed

[2021-05-21 15:38] #169 closed

[2021-06-01 15:52] ticosax opened #173 "Transaction is rollback unconditionally on connection `connect` event"
https://github.com/sqlalchemy/sqlalchemy/commit/37414a752b0036334d0f31ac8cd3aff749c3898b

More specifically this part.
https://github.com/sqlalchemy/sqlalchemy/commit/37414a752b0036334d0f31ac8cd3aff749c3898b#diff-84afdae8b2fe8ee08ff10f4653744adb40b7520ba241bc816d33efcae3df05c0L672-R683
The rollback is emtited from there.

I believe this is undesirable since we would like to let Django deal with th

[2021-06-01 17:29] ryanhiebert commented on #173
I don't know why this would have changed, but I certainly do want it to be fixed and working correctly for users. I'm not an active user of SQLAlchemy's transactions in Django requests. For my own use-cases, I construct the query, the get the statement and the parameters after they are compiled and run them as a raw query. However, I'd definitely like this to be fixed, and would be happy to review

[2021-06-02 10:28] ticosax commented on #173
Prior to `1.4` the signal handler was registered with `first_connect` instead of `connect`

https://github.com/sqlalchemy/sqlalchemy/blob/rel_1_3/lib/sqlalchemy/engine/strategies.py#L194

So my understanding, is that aldjemy is interested into triggering what was registered as `connect` only https://github.com/sqlalchemy/sqlalchemy/blob/rel_1_3/lib/sqlalchemy/engine/strategies.py#L192 and not `fir

[2021-06-02 12:01] ryanhiebert commented on #173
Thank you for your investigation!

[2021-06-23 07:07] #173 closed

[2021-07-02 17:13] graingert opened #181 "option to pass future=True to engine and session"
eg https://docs.sqlalchemy.org/en/14/changelog/migration_20.html#migration-to-2-0-step-four-use-the-future-flag-on-session

eg here: https://github.com/aldjemy/aldjemy/blob/e52f05d65d78c24c10c704217dc749986111e82f/aldjemy/orm.py#L16-L17

[2021-07-02 17:22] ryanhiebert commented on #181
That makes sense to me. I'm not sure what the API should be for that. Would you like to give it a go?

[2021-07-02 17:31] graingert commented on #181
I think maybe a Django settings settings?

Eg:

[code]

[2021-07-02 18:19] ryanhiebert commented on #181
hmm. I don't think I'm a fan of that. Too many settings that are too specific. How about something like a top level `ALDJEMY` settings dict, with defaults for sub-keys `engine_kwargs` and `session_kwargs`? Existing settings might eventually be moved into that top-level dict, but I'd leave that for another round.

[2021-07-02 18:20] graingert commented on #181
Well these settings won't be needed for very long. Once sqlalchemy 2 comes out I can upgrade and delete the settings

[2021-07-02 18:22] ryanhiebert commented on #181
Is there a use-case for making them different? Should they be just one setting, like `ALDJEMY_SQLALCHEMY_FUTURE`?

[2021-07-02 18:23] graingert commented on #181
I don't fully understand why it's in two places

[2021-07-02 19:04] ryanhiebert commented on #181
OK. I'd say make it one setting, then, until someone comes up with a use-case for two settings. Thanks for bringing it up. Do you think you can make a pull request? I'd recommend reading the setting in `orm.BaseSQLAModel.query`, which would require modifying the `get_session` function to take that as some kind of a parameter.

[2021-07-02 19:18] graingert commented on #181
@zzzeek why are these two options?

[2021-07-02 19:29] graingert commented on #181
I can't set the setting in `orm.BaseSQLAModel.query` because Session.query is a legacy method.

I'd only be using `get_session().execute(sa.select(Model.sa))`

[2021-07-02 19:33] zzzeek commented on #181
the engine and ORM future mode settings are independent of each other so that people can incrementally upgrade their applications to the newer behaviors.

[2021-08-27 11:21] chrisjsewell opened #188 "Migration guide for v2 deprecations"
Heya, thanks for the updates in v2.
In the changelog, you mention a number of things have been removed: https://github.com/aldjemy/aldjemy/blob/main/HISTORY.rst#20-2021-05-20

Is there some easy/recommended ways to replace them?

In my case, I have the code `core.Cache.meta.tables['db_dbgroup_dbnodes']` so, before I start digging into the source code 😅, do you know of an easy way to replace this?

[2021-08-27 13:41] #188 closed, assigned to nobody

[2021-08-31 09:08] holtgrewe opened #190 "Inconsistency with json serialization"
First of all, thank you very much for aldjemy as it's very helpful for us.

I have found an inconsitency when using aldjemy results vs. Django models results.

Look at the patch here:

https://github.com/holtgrewe/aldjemy/commit/cae18f67810d61042d15ffe7107ef90871f5da34

[2021-08-31 14:42] ryanhiebert commented on #190
Thank you for the report. What should I expect to see when those run, and what actually happens? Do you have a suggestion on what might need to be done in order to resolve it?

[2021-08-31 15:19] holtgrewe commented on #190
Sorry, I had a second part of the message typed up but it disappeared. I'll need a bit until I can reproduce it again.

[2021-08-31 15:24] ryanhiebert commented on #190
No problem, thank you!

[2021-08-31 15:49] holtgrewe commented on #190
This went faster than expected. The test complains with

[code]

So it looks like the JSON values are not translated back. The interesting part is that Django from version 2 or 3 expects JsonField/JSONB fields to return strings and translates them into Python objects using `json.loads` automatically. If the underlying connection would be to return already serialized values then the code crashes as

[2021-08-31 16:43] ryanhiebert commented on #190
It sounds like we're probably not using the right field type for that field from the Aldjemy side. At this line, we configure that we want to use SQLAlchemy `JSONB` as the type for `JSONField`. Do you think that's correct, or does the mapping need to be something else?

[2021-08-31 16:43] ryanhiebert commented on #190
Forgot to post the link to the line: https://github.com/aldjemy/aldjemy/blob/main/aldjemy/table.py#L69

[2021-08-31 16:51] holtgrewe commented on #190
I have to say that I'm not such an expert with SQLAlchemy.

Curiously, the patch below fixes the test.

[code]

[2021-08-31 17:25] holtgrewe commented on #190
However, I'm doing something similar in a "real" app of mine and this somehow causes the deserializer to be pushed into the psycopg2 driver, apparently, and then Django crashes like this:

[code]

[2021-08-31 17:31] holtgrewe commented on #190
OK, I just pushed this additional patch to the branch.

[code]

This now causes the following error trace in the tests:

[code]

I don't know whether this can be resolved at all without touching Django or SQLAlchemy. :scream: At least I could reproduce it. :clown_face:

[2021-08-31 17:32] holtgrewe commented on #190
Sorry for spamming. Regarding your question, I think that aldjemy is using the correct type.

[2021-09-08 05:56] #181 closed

[2021-09-10 05:58] chrisjsewell opened #192 "sqlalchemy v2 deprecation (orm.mapper)"
Heya, here's the offender:

[code]

Note to show these warnings, in `.github/workflows/build.yml` I would add to your test runs:

[code]

(see https://docs.sqlalchemy.org/en/14/changelog/migration_20.html)

[2021-09-14 08:10] ashkop opened #194 "ManyToMany fields with through parameter raise SA warning"
I'm using Aldjemy 2.2 and SA 1.4.23.

Here's a sample model classes that we have in a project:
[code]
This is raises these warnings from SA:

  return get_session(alias).query(cls)
/home/ashkop/PycharmProjects/aldjemytest/venv/lib/python3.9/site-packages/aldjemy/orm.py:163: SAWarning: relationship 'Member.collectives' will copy column app_membercollective.id to column app_membership.member_collect

[2021-09-24 08:23] ticosax opened #198 "ORM layer produce some warnings with SQLA 1.4"
[code]

[2021-09-24 09:22] ticosax opened #200 "Should we switch to pytest (and pytest-django) ?"
Yes!

[2021-09-24 10:07] ryanhiebert commented on #200
I concur. That would be great.

[2021-09-24 14:33] ticosax commented on #200
Thanks for the feedback, I'll get cracking on it.

[2021-09-24 16:33] #192 closed

[2021-09-24 16:34] #200 closed

[2021-09-30 14:00] Mogost opened #205 "SAWarning on EmailAddress"
[code]
Probably after https://github.com/aldjemy/aldjemy/commit/150353d53b5837b9a02c884c98b0f4df1fc88f9f

django 3.2
aldjemy 2.3

[2021-09-30 14:15] ryanhiebert commented on #205
@ticosax any thoughts? @Mogost are you able to give a minimal reproduction?

[2021-09-30 14:35] ticosax commented on #205
Thanks @Mogost, we haven't experienced this regression with our own project.
We would need more information to reproduce and hopefully get a fix for it.

[2021-09-30 15:29] Mogost commented on #205
@ticosax Apparently this is due to the fact that in my project there is a model class named `EmailAddress`
I quickly tried renaming and the error went away.  But even so, from the point of view of django, name is correct. And I'm not sure that rename is the right decision.

[code]

[2021-10-05 14:10] ticosax commented on #205
I'm sorry, that's not enough information for me.
Did you try to write a reproducible test case ?

[2021-10-19 16:38] ryanhiebert commented on #205
I don't think Aldjemy introspects the database, so I expect you should be able to produce the same result even if you use the incorrect schema name.

[2021-10-19 18:00] tim-schilling commented on #205
Yeah, I was able to confirm this. If you have models with the same name in two different apps, calling `construct_models` will cause this warning to be raised when [`mapper_registry.map_imperatively(sa_model, local_table=table, properties=attrs)`](https://github.com/aldjemy/aldjemy/blob/main/aldjemy/orm.py#L165) is executed where the second `sa_model` is used. This is likely due to using `model._m

[2021-10-19 18:51] tim-schilling commented on #205
Nope, but if you add a model named `Group` to your [test_project](https://github.com/aldjemy/aldjemy/blob/main/test_project/sample/models.py) in the repo, it should reproduce the issue.

[2021-10-20 14:07] #205 closed

[2021-10-20 18:40] tim-schilling commented on #205
Thanks for the quick change @ryanhiebert!

[2021-10-20 19:13] ryanhiebert commented on #205
You bet! Thanks, @tim-schilling , for making it easy to reproduce and giving me some really good hints!

[2021-10-21 12:27] ashkop opened #221 "Error with M2M fields that have through attribtute: TypeError: sequence item 3: expected str instance, NoneType found"
This error could happen when you have M2M fields with user-defined through model:
[code]
Aldjemy version is 2.5, here's a sample code that can cause the issue:
[code]

[2021-10-27 12:48] #221 closed, assigned to nobody

[2021-11-03 13:00] holtgrewe commented on #190
@ryanhiebert really, wontfix :scream: ;-)

[2021-11-03 13:59] ryanhiebert commented on #190
I need to apologize for two things. First, that I initially viewed your comment as a bit hostile, when in all likelihood it was mean in sarcastic jest. Second, for failing to communicate my thoughts on what you have found, to be clear about what I am able to do, and what I need help with.

As a maintainer I have a responsibility regarding this package. Sometimes people believe that a maintainer's

[2021-11-03 14:09] holtgrewe commented on #190
Hi @ryanhiebert. Sorry if I did not strike the right tone, I realize that things get lost over the internet in particular when we don't know each other in person. Also, I was not aware of your role and knowledge of the library. I am thankful that you put time into maintaining this and in particular to your long answer here. Please take this as an apology for my lack in better/professional communic

[2021-11-03 14:31] ryanhiebert commented on #190
Thank you so much, that would be excellent! I would really like to see this issue resolved, and I'm impressed with what you've been able to find already.

[2021-11-05 15:54] ashkop commented on #190
Hi! I've also encountered this issue after Django upgrade. What I discovered is that it is cause by this line in Django: https://github.com/django/django/blob/98c8bf1ceeab5c68751c83555f82cff1a9120a67/django/db/backends/postgresql/base.py#L218. And to overcome the issue I just added this event handler:

[code]
I didn't want to add `json_deserializer` to the `create_engine` cause it calls `register_

[2021-11-05 17:43] ryanhiebert commented on #190
Thank you for that investigation, @ashkop. @holtgrewe are you able to see if that seems like a good solution?

[2021-11-08 06:36] holtgrewe commented on #190
@ashkop good catch!

@ryanhiebert this looks like a good solution to me. Would we add this event handler to aldjemy as well? Maybe something that can be switched on/off with an environment variable?

[2021-11-08 11:23] ryanhiebert commented on #190
I'm open to suggestions, I'm not sure what the right strategy is. I really hesitate to add settings if we can avoid it, but we want Aldjemy to work, preferably by default without configuration.

What do you think the optimal choice is? Is there a change that we would want Django or SQLAlchemy to make? Or is this really something that rightly belongs to Aldjemy to solve?

[2022-01-16 12:00] #190 closed

[2022-01-21 15:27] ryanhiebert commented on #32
This is a problem I'd love to see solved, but which I won't personally be taking on in the foreseeable future, and which I'm not sure how to reproduce. If someone else cares enough about it to schedule a time to work on it with me or to assist in reproducing the issue reliably, I'm happy to put in some work to help somebody make a patch, or possibly make it myself at that point. Until then, I'm go

[2022-01-21 15:29] ryanhiebert commented on #166
This is a cool idea. It's not important enough to me to actually implement, though, so I'm going to remove the pinned tag and allow it to be closed as stale. If anyone wants to see this, feel free to pick it up, or leave a comment with some further thoughts on the matter, or anything similar. It'll at least let me know that somebody actually cares about it enough that it should be open.

[2022-02-11 14:19] mg64ve opened #254 "M2M query"
I think this is not an issue but it is a clarification request.
I have the following model:
[code]

in the following test.py file the first test is ok, the second fails:

[code]

with the following error:

[code]

could you please tell me what is the right statement for M2M query?
Thanks.

[2022-03-03 14:17] ryanhiebert commented on #254
@mg64ve : I'm not immediately sure what's wrong with what you're doing, but I have to admit to not having used SQLAlchemy in a while. Have you solved your issue yet?

[2022-04-03 22:09] #32 closed

[2022-04-03 22:09] #166 closed

[2022-05-31 07:49] catgatp opened #264 "Use db_column in ForeignKey field"
I have the following model:
[code]
run  >python manage.py makemigrations sample
with the following error:
[code]

[2022-05-31 08:52] catgatp commented on #264
db_column and foreign key field duplicate name problem reappears

[2022-05-31 09:09] catgatp commented on #264
model:
[code]
test
[code]
run  test
[code]

[2022-06-01 05:12] catgatp commented on #264
I have made a pull request

[2022-06-18 19:16] #254 closed

[2022-06-24 07:44] ticosax commented on #264
I explained in the pull request https://github.com/aldjemy/aldjemy/pull/266 the reasons why I'm closing it.

[2022-06-24 07:44] #264 closed

[2022-08-01 08:29] nnseva opened #272 "Replace current Django connection by the new, asynchronous, directly created from the SQLAlchemy"
It would be good to see an option to replace a current Django connection with the new, created from the SQLAlchemy directly, to have availability to use asynchronous SQLAlchemy features.

Such a replacement allows using Aljemy with asynchronous Django views in the most natural manner and makes migration to the full-featured asynchronous Django/Aldjemy application the most smoothly.

Related to #11

[2022-08-01 12:49] ryanhiebert commented on #272
I'd love to see that. I haven't had opportunity to get into asynchronous querying yet. Would you be interested in working on it?

[2022-08-01 13:06] nnseva commented on #272
mmm ... probably, not yet sure...

[2022-08-24 07:30] ticosax commented on #272
I hate to be the party breaker, but one of the advantages of SQLAlchemy is that it re-uses the connection established by django.
It means we can re-use the connection (scarce resource) and the current transaction that is still controlled by django (data integrity).
By switching to another driver we break these assumptions and I see this proposal as maybe too disruptive.
What do you think ? Can we

[2022-08-24 13:10] nnseva commented on #272
@ticosax The asynchronous connection should be implemented using a different PG client library [asyncpg](https://github.com/MagicStack/asyncpg). It means that we can not share connections between Django and SQLAlchemy in this case.

It is a reason why we need to replace a connection with the new one. The old is synchronous, while the new is asynchronous.
This is a reason why I would like to see th

[2022-08-24 14:34] ryanhiebert commented on #272
My knowledge is _waaay_ out of date, but the last I understood the plan was to keep using the synchronous driver in a thread pool.

[2022-08-24 15:04] ticosax commented on #272
This could work, assuming django maintain its own connection pool in separate threads and make them available to us.
Could be ? since 4.1 supports async orm operations at python layer (only).
I haven't look too much in depth in the ORM recently (last time was 4 years ago :wink: ).

[2022-10-29 12:52] ryanhiebert opened #281 "Switch to regular build tools"
This can even include stopping our use of poetry, if someone has a different preference. I don't really care what tool right now, as long as its easy and I don't have to think about hacky things when I'm getting it going. I just want to be using the standard `build`.

[2022-10-30 03:53] ryanhiebert commented on #281
If somebody wants to think about this, great. It's not me right now, so I'm not going to pretend it will be.

[2022-10-30 03:53] #281 closed

[2022-10-31 00:04] ryanhiebert commented on #272
I'd love to see async stuff happen in this library. It doesn't appear that anyone that has commented thus far is likely to do it, including myself, so I'm going to close this issue, but don't let that stop anyone from getting ambitious. I'd be happy to review it.

@ticosax is correct that we really do want to be using the same connection as Django if at all possible. If we don't do that, I'm not s

[2022-10-31 00:04] #272 closed